---
layout: html.njk
---

<div class="hero">
    <cover-layout class="showPadding">
        <doc-box height="50px"></doc-box>
        <h1>Developing an Action Plan for Rural Informatics</h1>
        <doc-box height="50px"></doc-box>
    </cover-layout>
</div>

<main class="siteMain" id="home">
  <center-layout space="s0" gutters="s-1" class="flow">
    {{ content | safe }}
    <switcher-layout>
        <doc-box height="100px">
            <img src="/assets/RAiUK_Logo.png" />
        </doc-box>
        <doc-box height="100px">
            <img src="/assets/Soma_Design.png" />
        </doc-box>
        <doc-box height="100px">
            <img src="/assets/Stahr_logo.jpg" />
        </doc-box>
    </switcher-layout>
  </center-layout>
</main>

