---
layout: html.njk
---

<div class="hero">
  <img src="/assets/bg.jpeg" class="hero-background" />
  <div class="hero-body">
    <center-layout gutters="s-1">
      <p>Developing an Action Plan for Rural Informatics</p>
    </center-layout>
  </div>
</div>

<main class="siteMain" id="home">
  <center-layout space="s0" gutters="s-1" class="flow">
    {{ content | safe }}
    <switcher-layout>
        <doc-box height="100px">
            <img src="/assets/RAiUK_logo.png" />
        </doc-box>
        <doc-box height="100px">
            <img src="/assets/Soma_Design.png" />
        </doc-box>
        <doc-box height="100px">
            <img src="/assets/Stahr_logo.jpg" />
        </doc-box>
    </switcher-layout>
  </center-layout>
</main>

