<stack-layout>
  <div class="row">
    <switcher-layout>
      <p><i>Topics</i> <b>9:30 - 10:30</b></p>
      <p>Presentations and provocations</p>
    </switcher-layout>
  </div>
  <div class="row">
    <switcher-layout>
      <p><i>Themes</i> <b>10:30 - 10:45</b></p>
      <p>Coffee break: form groups</p>
    </switcher-layout>
  </div>
  <div class="row">
    <switcher-layout>
      <p><i>Goals</i> <b>10:45 - 11:25</b></p>
      <p>Group discussions: unpacking themes and developing goals</p>
    </switcher-layout>
  </div>
  <div class="row">
    <switcher-layout>
      <p><i>Actions</i> <b>11:25 - 11:45</b></p>
      <p>Group discussions: planning actions to achieve goals</p>
    </switcher-layout>
  </div>
  <div class="row">
    <switcher-layout>
      <p><i>Next Steps</i> <b>11:45 - 12:15</b></p>
      <p>Prioritise actions based on impact vs difficulty</p>
    </switcher-layout>
  </div>
</stack-layout>
