<sidebar-layout>
  <img src="/assets/schedule_diagram.png" />
  <stack-layout justify="space-around" style="height: 670px;">
    <div class="row">
      <switcher-layout>
        <p><b>9:30 - 10:30</b></p>
        <p>Presentations and provocations</p>
      </switcher-layout>
    </div>
    <div class="row">
      <switcher-layout>
        <p> <b>10:30 - 10:45</b></p>
        <p>Coffee break</p>
      </switcher-layout>
    </div>
    <div class="row">
      <switcher-layout>
        <p><b>10:45 - 11:25</b></p>
        <p>Group discussions: unpacking themes</p>
      </switcher-layout>
    </div>
    <div class="row">
      <switcher-layout>
        <p><b>11:25 - 11:45</b></p>
        <p>Group discussions: creating actions</p>
      </switcher-layout>
    </div>
    <div class="row">
      <switcher-layout>
        <p><b>11:45 - 12:15</b></p>
        <p>Prioritise actions</p>
      </switcher-layout>
    </div>
  </stack-layout>
</sidebar-layout>
